git+https://github.com/fourjr/discord.py@rewrite
lxml
mtranslate
colorthief
pyparsing
sympy
psutil
emoji
wikipedia
crasync
cr-py
urban-async
safygiphy
discord.py==0.16.8 
discord.py
requests
pdb
json
pypubg
asyncio
aiohttp
